   
<div class="teamInRounds" class="row justify-content-around" ng-if="pair.team1">
   <div  data-toggle="popover" title="players" data-html="true" ng-attr-data-content="pair.team1.players">
     {{ pair.team1.teamName }}
     <span class="goal">{{ pair.team1.goalsShot }}</span>
    </div>
</div>
    
<div class="teamInRounds" data-toggle="popover" title="players" data-html="true" ng-attr-data-content="pair.team2.players" ng-if="pair.team2" >
  <div>
    {{ pair.team2.teamName }}
    <span class="goal">{{ pair.team2.goalsShot }}</span>
  </div>
</div>
